body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 2mm 1.5cm 5mm 1.5cm;
    text-align: center;
    background: darkorange;
}

h1 {
    margin: 0 0 2mm 0;
    padding: 0;
    color: #555;
}

label {
    margin: 0;
    padding: 0;
    align-content: center;
}

input {
    margin: 0;
    padding: 2mm;
    border: none;
    border-radius: 0;
    width: 74%;
    font-size: 16pt;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 2mm;
    border: none;
    border-radius: 0;
    width: 24%;
    font-size: 16pt;
    text-align: center;
    transition: 0.3s;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    cursor: pointer;
    padding: 2mm 2mm 2mm 1.5cm;
    font-size: 18pt;
    background: #eee;
    transition: 0.3s;
    color: #333;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}