body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 2mm 1.3cm 5mm 1.3cm;
    text-align: center;
    background: darkorange;
}

h1 {
    margin: 0 0 2mm 0;
    padding: 0;
    color: #555;
}

label {
    margin: 0 2mm 0 2mm;
    padding: 0;
    display: flex;
    justify-content: center;
}

#task_input {
    margin: 0;
    padding: 2mm;
    border: none;
    border-radius: 0;
    width: 75%;
    font-size: 16pt;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    text-align: center;
    transition: 0.3s;
}

#btn_add {
    margin: 0 1mm 0 1mm;
    padding: 2mm;
    width: 25%;
    font-size: 16pt;
}

/* Search Input*/
#search_input {
    background-image: url("../img/searchicon.png");
    background-position: 1mm 0;
    background-size: 1.1cm;
    background-repeat: no-repeat;
    margin: 3mm 0 3mm 0;
    padding: 2mm 3mm 2mm 1.3cm;
    border: 2px solid #ddd;
    border-radius: 0;
    width: 100%;
    font-size: 12pt;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    cursor: pointer;
    padding: 2mm 0 2mm 1.5cm;
    font-size: 18pt;
    background: #eee;
    transition: 0.3s;
    color: #333;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #eee;
    text-decoration: line-through;
}

.btn_delete {
    float: right;
    margin: 0 3mm 0 0;
    padding: 0 4mm 0 4mm;
    font-size: 18pt;
}

.btn_delete:hover {
    background-color: darkorange;
    color: #ddd;
}